altgraph==0.17.4
auto-py-to-exe==2.46.0
beautifulsoup4==4.13.3
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
Eel==0.18.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
packaging==24.2
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pyparsing==3.2.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.8.0
soupsieve==2.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
zope.event==5.0
zope.interface==7.2
